:root {
  --card-width: 300px;
  --circle-size: 30px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  background: #ededf3;
}

.userCardHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: var(--card-width);
  min-width: 200px;
  max-width: 300px;
  flex: 1 1 auto;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  background-color: #f5f5f6;
  box-shadow: 0 0 1px grey;
}

h3 {
  font-size: 18px;
  text-transform: capitalize;
  padding: 20px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  text-transform: capitalize;
  padding: 20px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h5 {
  padding: 0px 10px 20px 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  opacity: 0.3;
}

p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  opacity: 0.3;
}

.location {
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.fa-map-marker-alt {
  opacity: 0.3;
  margin: 5px;
}

.biography {
  height: calc(var(--card-width) / 4);
  padding: 10px 20px 10px 20px;
  overflow: hidden;
  line-height: 1.8;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}

button {
  border: 1px solid #1287e0;
  text-transform: uppercase;
  width: calc(var(--card-width) * 0.6);
  background-color: #1287e0;
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
}

.buttons :first-child {
  background-color: #fffeff;
  color: #1287e0;
  margin: 0 0 5px 0;
}

.status {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onlineImage {
  color: #79b83a;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  visibility: hidden;
}

.online {
  visibility: inherit;
}

.fa-circle {
  font-size: 10px;
}

.photoContainer {
  width: calc(var(--card-width) / 2.5);
  height: calc(var(--card-width) / 2.5);
  margin: 20px 0 0 0;
  position: relative;
}

.userPhoto {
  width: calc(var(--card-width) / 2.5);
  height: calc(var(--card-width) / 2.5);
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.emptyPhoto {
  opacity: 0.3;
}

.circleBehindStar {
  position: absolute;
  width: calc(var(--circle-size));
  height: calc(var(--circle-size));
  background-color: white;
  border-radius: 50%;
  top: calc(var(--card-width) / 2.5 - var(--circle-size) / 2);
  left: calc((var(--card-width) / 2.5 / 2) - var(--circle-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-star {
  font-size: 16px;
  color: #e1dce3;
}

.activeStar {
  color: #fbb60d;
}
